<div class="card-wrap">
  <div class="card{{#if _disabled}} disabled{{/if}}" data-key="{{_key}}" data-id="{{_id}}">
    <div class="card-animation"></div>
    <i class="card-sm-{{_data.faction}} card-sm-{{_data.faction}}-{{_data.img}}"></i>
    <div class="shadow"></div>
    <div class="overlay-card"></div>
  </div>
</div>