<i class="card-lg-{{card.faction}} card-lg-{{card.faction}}-{{card.img}}"></i>
<div class="preview-description">
  <p>{{card.name}}</p>
  {{#each abilities as |val key|}}
    <p>{{val}}</p>
  {{/each}}
</div>